body {
    background-color: burlywood;
    color: rgb(73, 120, 214);

    p {
        color:blueviolet
    
    }

    a {
        color: greenyellow

    }

    h2 {
        color:brown
        
    }

}